* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #001927;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.navbar__logo img {
  max-height: 3em;
}

/* 
.hero__content {
  height: 50%;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.hero__content h1 {
  font-size: 3rem;
}
.send-e {
  width: 100%;
}

.input {
  width: 70%;
  height: 45px;
  padding: 1em;
  margin: 1em 1em;
  margin-top: 2em;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid #fd8c42;
} */

.features-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f8f9fa;
}

.feature {
  /* border: firebrick 1px solid; */
  text-align: center;
  min-width: 20%;
  min-height: 20%;
  margin: 1em;
}
.feature h3 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.feature p {
  font-size: 1.2rem;
  color: #000;
}

.image-content-container {
  display: flex;
  width: 100%;
}

.reverse {
  flex-direction: row-reverse;
}

.serve-image {
  width: 50%;
}
.serve-image img {
  width: 100%;
  height: 100%;
}

.server-content {
  /* text-align: center; */
  /* width:78.5em; */
  width: 50%;
  margin: auto;
  padding: 8em;
}
.server-content h2 {
  margin-bottom: 0.6em;
  font-size: 2rem;
}
p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.4;
}

/* Responsive styles */

@media screen and (max-width: 1100px) {
  .image-content-container {
    flex-direction: column;
  }

  .server-content {
    /* background-color:red; */
    padding: 15%;
    width: 100%;
  }

  .serve-image {
    width: 100%;
  }
  .rows {
    flex-direction: column;
  }

  .footer_items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar__logo,
  .navbar__signup {
    margin: 0.5rem 0;
  }
  .hero__content h1 {
    font-size: 2rem;
  }

  .features-section {
    height: 100vh;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonial {
    width: 100%;
  }

  .hero__footer h1 {
    font-size: 1.5rem;
  }
  .testimonial img {
    max-width: 9em;
    clip-path: circle(70px at 50% 50%);
  }
}

@media screen and (max-width: 450px) {
  .navbar__logo,
  .navbar__signup {
    margin: 0.2rem 0;
  }
  .hero__content {
    justify-content: center;
  }
  .hero__content h1 {
    font-size: 1.2rem;
    margin: 0.5em;
  }

  .input {
    width: 60%;
    height: 20px;
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
  }
  .btn {
    height: 35px;
    padding: 0.5rem;
  }

  .server-content h2 {
    margin-bottom: 0.6em;
    font-size: 1.5rem;
  }

  .server-content p {
    font-size: 1rem;
  }
  .testimonial img {
    max-width: 6em;
    clip-path: circle(45px at 50% 50%);
  }
}

/* lenss */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 4rem;
  z-index: 9;
}

.container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin-inline: auto;
  text-align: center;
}
.center-h {
  margin-inline: auto;
  text-align: center;
}

.intro {
  margin-bottom: 20rem;
}
.container-content {
  max-width: 100rem;
  padding: 0 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-bottom: 11rem;
}
.container-content:last-child {
  padding-bottom: 11rem;
}

.text-content {
  flex: 1;
  padding: 0 20px;
  text-align: left;
}

.text-content h2 {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.text-content p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

.image {
  flex: 1;
  padding: 0 20px;
}

.png {
  position: relative;
}
.png::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 800px;
  background-color: red;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  clip-path: circle(50% at center);
}

.person {
  position: relative;
  max-width: 20rem;
}
.person .image img {
  max-width: 100%;
  display: block;
}
.section-even .text-content {
  order: 1; /* Change order for even sections */
}

.section-even .image {
  order: 0; /* Change order for even sections */
}

/* end */
.intro h1 {
  font-size: 3.4rem;
  color: rgb(183, 255, 0);
}

.text {
  font-size: 1.8rem;
  width: 50%;
  margin-inline: auto;
  margin-top: 2rem;
}

#layers-bg-6 {
  overflow: hidden;
}

#layers-bg-6 .before,
#layers-bg-6 .after {
  content: "";
  width: 250px;
  height: 250px;
  position: absolute;
  opacity: 0;
}

/* right */
#layers-bg-6 .after {
  content: url("../assets/images/web-person.svg");

  bottom: -10rem;
  right: 0;
}
main {
  /* height: 100vh; */
}

#hero {
  position: relative;
  z-index: -1;
}

#layers-warrapper {
  width: 100%;
  height: 100dvh;
  position: absolute;
  pointer-events: none;
  /* border: yellowgreen 4px solid; */
}
#layers-warrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 10;
  background: linear-gradient(
    180deg,
    rgb(115 242 255 / 80%) 0%,
    rgb(0 0 0 / 0%) 50%
  );
}

/* where id container "layers-bg-" */
div[id*="layers-bg-"] {
  background-repeat: none;
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
}

#layers-bg-1 {
  background-image: url("../assets/images/layer-1.svg");
}

#layers-bg-2 {
  background-image: url("../assets/images/layer-2.svg");
}

#layers-bg-3 {
  background-image: url("../assets/images/layer-3.svg");
}

#layers-bg-4 {
  background-image: url("../assets/images/layer-4.svg");
}

#layers-bg-5 {
  background-image: url("../assets/images/layer-5-1.svg");
}

#layers-bg-6 {
  background-image: url("../assets/images/layer-6.svg");
}

/* #layers-bg-1 {
  background-image: url("./assets/images/layer-1.svg");
} */

img {
  max-width: 100%;
  display: block;
}
.person {
  /* border: 2px solid #453; */
  --transform-speed: 250ms;
  position: relative;
  max-width: 20rem;
  margin-inline: auto;
}

/*! this will be the funy shape */
.person-container {
  /* background-color: rgb(222, 118, 118); */
  aspect-ratio: 1/1.5;
  display: grid;
  align-items: end;
  /* round it in the bottom only */
  border-radius: 0 0 100vw 100vw;
  overflow: hidden;
  transition: transform var(--transform-speed) ease;
}

.person-container:hover {
  transform: scale(1.1);
}

.person-circle {
  position: absolute;
  /* top auto left and right 0 and bottom 0 */
  inset: auto 0 0;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 50%;
  margin-inline: auto;
  object-fit: cover;
  background-color: #424ae8;
}

.person-img {
  position: relative;
  z-index: 2;
  left: 0.8rem;
  transition: transform calc(var(--transform-speed) * 1.5) ease;
  transform: translateY(5rem);
}

.person-container:hover .person-img {
  transform: scale(1) translateY(3rem);
}

.social-list {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.social-link {
  background-color: #424ae8;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 1rem;
  transition: background-color 0.3s ease-in-out;
}
.social-link:hover {
  background-color: #2e34a2;
  cursor: pointer;
}
.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}

footer {
  position: relative;
}

/* copyrigths */
.copy-rights {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1.4rem;
  padding: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* ************** */
/* ###Home BTN### */
/* ************** */

.home-btn {
  font-weight: bold;
  color: white;
  font-size: 1.6rem;
  border-radius: 2rem;
  cursor: pointer;
  width: 96.02px;
  height: 42.26px;
  border: none;
  background-color: #424ae8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-btn .span-mother {
  display: flex;
  overflow: hidden;
}

.home-btn:hover .span-mother {
  position: absolute;
}

.home-btn:hover .span-mother span {
  transform: translateY(1.2em);
}

.home-btn .span-mother span:nth-child(1) {
  transition: 0.2s;
}

.home-btn .span-mother span:nth-child(2) {
  transition: 0.3s;
}

.home-btn .span-mother span:nth-child(3) {
  transition: 0.4s;
}

.home-btn .span-mother span:nth-child(4) {
  transition: 0.5s;
}

.home-btn .span-mother span:nth-child(5) {
  transition: 0.6s;
}

.home-btn .span-mother span:nth-child(6) {
  transition: 0.7s;
}

.home-btn .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

.home-btn .span-mother2 span {
  transform: translateY(-1.2em);
}

.home-btn:hover .span-mother2 span {
  transform: translateY(0);
}

.home-btn .span-mother2 span {
  transition: 0.2s;
}

.home-btn .span-mother2 span:nth-child(2) {
  transition: 0.3s;
}

.home-btn .span-mother2 span:nth-child(3) {
  transition: 0.4s;
}

.home-btn .span-mother2 span:nth-child(4) {
  transition: 0.5s;
}

.home-btn .span-mother2 span:nth-child(5) {
  transition: 0.6s;
}

.home-btn .span-mother2 span:nth-child(6) {
  transition: 0.7s;
}

/* ************* */
/* To the Top button */
/* ************* */

#to-Top {
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 2.4rem;
  right: 3.2rem;
  z-index: 99;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: #424ae8;
  color: #fff;
  cursor: pointer;
  padding: 1.4rem;
  border-radius: 50%;
  transition: background-color 0.3s opacity 0.3 ease-in-out;
}
