html {
  color-scheme: dark;
}

body {
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 20rem;
}

img {
  max-width: 100%;
  display: block;
}
.person {
  /* border: 2px solid #453; */
  --transform-speed: 250ms;
  position: relative;
  max-width: 20rem;
  margin-inline: auto;
}

/*! this will be the funy shape */
.person-container {
  /* background-color: rgb(222, 118, 118); */
  aspect-ratio: 1/1.5;
  display: grid;
  align-items: end;
  /* round it in the bottom only */
  border-radius: 0 0 100vw 100vw;
  overflow: hidden;
  transition: transform var(--transform-speed) ease;
}

.person-container:hover {
  transform: scale(1.1);
}

.person-circle {
  position: absolute;
  /* top auto left and right 0 and bottom 0 */
  inset: auto 0 0;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 50%;
  margin-inline: auto;
  object-fit: cover;
}

.person-img {
  position: relative;
  z-index: 2;
  left: 1rem;
  /* transform: scale(1.1); */
  transition: transform calc(var(--transform-speed) * 1.5) ease;
}

.person-container:hover .person-img {
  transform: scale(1.1) translateY(-1.5rem);
}
